/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky

	font-family: 'Lora', serif;
	font-family: 'Playfair Display', serif;

	background-image: url(images/cupcake.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #242424;

	background: #242424 url(images/cupcake.jpg) no-repeat cover;

*/


body {
	margin: 0 auto;
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 1.5;
	color: #242424
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
}

h2 {
	color: #3e606b;
	font-size: 36px;
}

h3 {
	color: #3e606b;
	font-size: 18px;
}

/* ******* Hlavička ******* */

.hlavicka {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1100px;
}

.logo {
	width: 170px;
	margin: 30px 0;
}

.menu {
	margin: 0;
	list-style: none;
	text-align: center;

	display: flex;
}

.menu li {
	padding: 10px 15px;
}

.menu a {
	color: #242424;
	text-decoration: none;
	padding: 10px 15px;
}

.menu a:hover {
	color: #fff;
	background-color: #f195b2;
	border-radius: 20px;
}


/* *** Hero sekce s obrázkem a hlavním nadpisem *** */


.hero {
	color: #fff;
	background-image: url(images/cupcake.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #242424;
	background-position: 0px -135px;
}

.obsah {
	max-width: 1100px;
	margin: 0 auto;
	padding: 80px 0;
}

.hero h1 {
	margin-top: 0;
	font-size: 52px;
	font-weight: 700;
}

.hero p {
	font-size: 24px;
	font-style: italic;
	margin-bottom: 0px;
}



/* *** sekce Vítejte v naší cukrárně *** */

.vitaci {
	display: flex;
	max-width: 1100px;
	margin: 80px auto;
}

.leva {
	padding: 30px;
	flex: 1 0 50%;
}

.leva h2 {
	margin-top: 0;
}


.tlacitko {
	margin-top: 50px;
	margin-left: 5px;
}

.leva a {
	color: #fff;
	text-decoration: none;
	background-color: #f195b2;
	padding: 15px 40px;
	border-radius: 30px;
}

.leva a:hover {
	background-color: #d2567d;
}

.prava {
	flex: 1 0 50%;
}

img {
	display: block;
	border-radius: 5px;
}



/* ***** sekce Dnešní nabídka ***** */

.nabidka {
	display: flex;
	background-color: #f0f0f0;
	margin: 0 auto;
	flex-wrap: wrap;
	padding-top: 80px;
}

.text {
	flex: 1 0 100%;
	max-width: 1100px;
	margin: 0 auto;
}

.text h2 {
	margin-top: 0;
}

.produkty {
	display: flex;
	flex: 1 0 100%;
	max-width: 1100px;
	margin: 0px auto 80px auto;
	justify-content: space-between;
}

.produkt {
	flex: 1 0 20%;
	background-color: #fff;
	margin-right: 30px;
	border-radius: 5px;
	box-shadow: #b5b5b5 1px 1px 5px;
}

.ctyri {
	margin-right: 0;
}

.produkt img {
	max-width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.produkt h3 {
	margin: 20px;
	text-align: center;
}

.produkt p {
	margin: 20px;
}


/* ****** sekce Náš přístup k pečení ****** */

.peceni {
	display: flex;
	max-width: 1100px;
	margin: 80px auto;
}

/* ********** Patička ********** */

.paticka {
	color: #fff;
	background-color: #303339;
	text-align: center;
	padding: 30px;
}

.paticka p {
	margin: 0;
}